/* your styles go here */
.login-head p {
    background: #796AEE;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 20%;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.custom-title-t ,.pl {
    padding-left: 15px;
}

.custom-title-t ,.custom-title-o {
    font-size: 14px;
    height: 44px;
    line-height: 44px;
}

.custom-title-o ,.pr {
    padding-right: 15px;
}

.pt30 {
    padding-top: 30px;
}

.pb {
    padding-bottom: 15px;
}

.pb27 {
    padding-bottom: 27px;
}

.mb {
    margin-bottom: 15px;
}

.mb0 {
    margin-bottom: 0;
}

.mr0 {
    margin-right: 0;
}

.focus-images {
    border-radius: 6px;
}

li.list-notice {
    list-style: none;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.hot-app-img {
    background-color: #e5f6fd;
}

.hot-app-img img {
    margin: 22px auto;
}

p.desc-title {
    color: #3c3c3c;
    line-height: 30px;
    margin-top: 10px;
}

.desc-subtitle {
    color: #6c6c6c;
    font-size: 12px;
}

.hot-app-desc {
    background-color: #f2fbfe;
}

.focus-table {
    border: 1px solid #e1e6eb;
}

.focus-table-index {
    width: 10%;
}

.focus-table-images {
    width: 20%;
}

.focus-table-title {
    width: 35%;
}

.focus-table-size ,.focus-table-type {
    width: 10%;
}

.focus-table-edit {
    width: 15%;
}

.table-images {
    width: 120px;
}

.focus-table td ,.focus-table th {
    vertical-align:middle;
}

.focus-index {
    color: #606266;
    font-weight: normal
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #eee;
    margin: 30px 0;
}

.ele-relative {
    position: relative;
}

.ele-absolute {
    position: absolute;
}

.app-image-wrap {
    top: 0;
    left: 50%;
    margin-left: -960px;
}

.app-images {
    overflow-x: hidden;
    height: -webkit-fill-available;
}

.guide-images {
    height: -webkit-fill-available;
}

.app-image-edit {
    z-index: 1;
    width: 100%;
}

.app-images-btn {
    margin: 20px 0 10px 50px;
}